includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - routes/
        - bootstrap/
        - config/
        - database/
        - resources/views/
        - tests/

    # Level 10 is the highest level
    level: 5

    ignoreErrors:
        - '#Call to an undefined method .*TestCase::.*#'
        - '#Undefined variable: \$this#'

#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
